{% extends "base.html" %}
{% block title %}
    Delete Student
{% endblock %}
{% block content %}
    {% if user.is_authenticated and user.is_superuser %}
        <h5>Are you sure you want to delete {{ student }}</h5>
        <form action="{% url 'confirm-delete-student' student.student_id %}" method="post">
            {% csrf_token %}
            <button class="btn btn-danger">Confirm</button>
            {{ message }}
        </form>
        <br>
           <a href="{% url 'student-detail' student.pk %}" class="btn btn-primary">Back</a>
    {% else %}
        <h1>YOU DON'T HAVE ACCESS</h1>
    {% endif %}

{% endblock %}