{% extends "base.html" %}
{% block title %}
    Delete Confirmation
{% endblock %}
{% block content %}
    {% if user.is_authenticated  and user.is_superuser %}
        {% if "class" in request.path %}
            <h5>Are you sure you want to delete {{ class }}</h5>
        {% elif "course" in request.path %}
            <h5>Are you sure you want to delete {{ course }}</h5>
        {% elif "semester" in request.path %}
            <h5>Are you sure you want to delete {{ semester }}</h5>
        {% endif %}

        <div class="form-group">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <br/>
                <button class="btn btn-danger">Confirm</button>
            </form>
        </div>
        <br>
        {% if "class" in request.path %}
            <a href="{% url 'class-detail' class.pk %}" class="btn btn-primary">Back</a>
        {% elif "course" in request.path %}
            <a href="{% url 'course-detail' course.pk %}" class="btn btn-primary">Back</a>
        {% elif "semester" in request.path %}
            <a href="{% url 'semester-detail' semester.pk %}" class="btn btn-primary">Back</a>
        {% endif %}
    {% else %}
        <h1>YOU DON'T HAVE ACCESS</h1>
    {% endif %}

{% endblock %}